@model BoxONE.WebUI.Models.ClientListViewModel

@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

@foreach (var c in Model.Clients)
{
    Html.RenderPartial("ClientSummary", c);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x}))
</div>